{% extends "base.html.twig" %}

{% block body %}
	<p>Le résultat du calcul
		{{ a }}+{{ b }}
		est égal à
		{{ result }}</p>
	<p>Le résultat du calcul
		{{ a ~ "+" ~ b ~ " est égal à " ~ result }}</p>
{% endblock %}
