{% extends 'base.html.twig' %}

{% block title %}Recherche
{% endblock %}

{% block body %}

	{{ form(form) }}

		{% if search is defined %}
			<div class="container-fluid justify-content-center">
				<h2 class="mt-3">Résultat de la recherche :
					{{ search }}</h2>
				<div class="row">
					{% for abonne in liste_abonnes %}
						<div class="col-4 mt-3">
							{% include "abonne/cards.html.twig" with { a: abonne } %}
						</div>
					{% else %}
						<div class="alert alert-danger mt-3">Aucun abonné ne correspond à la recherche</div>
					{% endfor %}
				</div>
				<div class="row">
					{% for livre in liste_livres %}
						<div class="col-4 mt-3">
							{{ include("livre/cards.html.twig", { l: livre }) }}
						</div>
					{% else %}
						<div class="alert alert-danger mt-3">Aucun livre ne correspond à la recherche</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}

	{% endblock %}
